# Parte 2

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

df = pd.read_csv('../../completed/dataset_for_modeling.csv', index_col=0)

df.head()

,Age,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,...,Location_Bangalore,Location_Chennai,Location_Coimbatore,Location_Delhi,Location_Hyderabad,Location_Jaipur,Location_Kochi,Location_Kolkata,Location_Mumbai,Location_Pune
0,4,10.621352,0,0,1,19,7.367077,4.845761,5,2.602690,...,0,0,0,0,0,0,0,0,0,1
1,8,10.736418,1,0,1,18,7.090077,4.496471,5,1.704748,...,0,1,0,0,0,0,0,0,0,0
2,7,11.373675,0,0,1,20,7.130099,4.497139,7,1.945910,...,0,1,0,0,0,0,0,0,0,0
3,6,10.613271,0,1,2,15,7.585281,4.954418,5,2.930660,...,0,0,1,0,0,0,0,0,0,0
4,6,11.373663,0,0,1,23,7.287561,4.160444,5,1.504077,...,0,0,0,0,0,1,0,0,0,0

In [ ]:
import statsmodels.api as sm
import statsmodels.formula.api as smf

model_slr = smf